.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.headerOne {
  font-size: 3rem;
  color: red;
  font-family: var(--font-mono);
}

.article:nth-child(2) {
  margin-top: 2rem;
}

.article {
  border-radius: .3rem;
  padding: 1rem;
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  background-color: gray;
  margin-bottom: 1.5rem;

}

.p {
  margin-top: .5rem;
  line-height: 125%;
}